# Copyright (c) 2026 Analog Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_ZEDBOARD

config NET_TX_STACK_SIZE
	default 8192

config NET_RX_STACK_SIZE
	default 8192

config NET_TCP_WORKQ_STACK_SIZE
	default 8192

config NET_MGMT_EVENT_STACK_SIZE
	default 8192

endif
